name: SonarCloud Backend Scan

on:
  push:
    branches: [ main ]
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  sonar:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: 'temurin'

      - name: Build with Maven
        run: mvn clean verify
        working-directory: expense-tracker

      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@v2
        with:
          args: >
            -Dsonar.organization=meenuvasu
            -Dsonar.projectKey=meenuvasu_expense_tracker_backend
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
